.enjoy-fluid {
    margin-top: 50px;
    border-bottom: 10px solid #2b2b2b;
    padding: 30px;
}

.tv-img {
    width: 480px;
    z-index: 100;
}

.col-lg-6 {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.content {
    /* border: 1px solid red; */
    width: 28rem;
}

.enjoy-fluid h1 {
    font-size: 3rem;
}

.enjoy-fluid p {
    font-size: 1.3rem;
}

.enjoy-video {
    position: absolute;
    top: 21%;
    width: 365px;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
    .enjoy-fluid {
        /* border: 1px solid red; */
        padding: 0;
        margin-top: 100px;
    }
    .enjoy-video {
        width: 285px;
    }
    .enjoy-fluid .row {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .enjoy-fluid .row .col-lg-6 {
        /* border: 1px solid white; */
        padding: 0;
        text-align: center;
    }
    .content {
        /* border: 1px solid green; */
        width: 100%;
    }
    .tv-img {
        width: 100%;
    }
    .enjoy-fluid h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 481px) and (max-width: 920px) {
    .enjoy-fluid {
        /* border: 1px solid red; */
        padding: 0;
        margin-top: 100px;
    }
    .enjoy-fluid .row {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .enjoy-fluid .row .col-lg-6 {
        /* border: 1px solid white; */
        padding: 0;
        text-align: center;
    }
    .content {
        /* border: 1px solid green; */
        width: 100%;
    }
    .tv-img {
        width: 100%;
    }
    .enjoy-fluid h1 {
        font-size: 40px;
    }
    .enjoy-fluid p {
        font-size: 30px;
    }
}