.footer-fluid {
    padding: 30px;
    margin-top: 30px;
}

.lang-btn {
    background-color: #2d2d2d;
    color: #fff;
}

.footer-fluid a {
    color: #ddd;
    text-decoration: underline;

}
.footer-fluid ul {
    padding: 0;
    margin: 0 0 30px 0;
}
.footer-fluid ul li {
    list-style: none;
    margin-top: 10px;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
    .footer-fluid {
        padding: 0;
        /* border: 1px solid red; */
        margin-top: 90px;
    }
    .footer-fluid .row {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 920px) {
    .footer-fluid {
        padding: 0;
        /* border: 1px solid red; */
        margin-top: 90px;
    }
    .footer-fluid .row {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .footer-fluid p {
        font-size: 30px;
    }
    .footer-fluid .row .col-lg-4 {
        font-size: 30px;
    }
}